<div class="intro-container">
    <svg width="350" height="150" class="logo">
        <g transform="translate(0,0) scale(2)">
            <defs>
                <clipPath id="bottom">
                    <path
                        d="M 0 60
                        L 15 75
                        L 75 75
                        L 115 30
                        L 145 60
                        L 175 60
                        L 115 0
                        L 60 60
                        L 15 60
                        Z"/>
                </clipPath>
                <clipPath id="top">
                    <path
                        d="M 15 75
                        L 15 75
                        L 60 30
                        L 100 75
                        L 160 75
                        L 175 60
                        L 115 60
                        L 60 0
                        L 0 60
                        Z"/>
                </clipPath>
            </defs>
            <path class="bottom" fill="rgba(0, 0, 0, 0.0)" stroke="#999" stroke-width="60" stroke-miterlimit="10" 
                d="M 0,75 L 75,75 115,30 145,60 175,60 115,0"
                clip-path="url(#bottom)"/>

            <path class="top" fill="rgba(0, 0, 0, 0.0)" stroke="#888" stroke-width="60" stroke-miterlimit="10" 
                d="M 175,60 L 100,75 60,30 15,75"
                clip-path="url(#top)"/>
    </g>
    </svg>

    <br />

    <div class="text">
        <div class="title">Munhunger</div>
    </div>
</div>

<div id="back-part"></div>
<div class="container">
    <div class="content-wrapper">
        <div class="menu">
            <i><img src="assets/img/logo.png" class="logo"></i>
            <i class="fa fa-bell"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-stack-overflow"></i>
            <i class="fa fa-github"></i>
        </div>
        <div class="header">
        </div>
        <div class="content">
        </div>
    </div>
</div>