.thumb {
    background-image: url('https://cdn.wallpapersafari.com/28/37/VBbj9G.jpg');
    background-size: cover;
}

.info-box {
    min-height: 100px;
    background-color: #fff;
    position: relative;
    clip-path: ellipse(100% 100% at 50% 0%);
    padding-bottom: 0px;
}

.info-box-clicked {
    animation: expand 0.5s forwards;
}

@keyframes expand {
    0% {
        clip-path: ellipse(100% 100% at 50% 0%);
        padding-bottom: 0px;
        background-color: #FFF;
    }
    10% {
        background-color: #EEE;
    }
    30% {
        background-color: #FFF;
    }
    100% {
        clip-path: ellipse(250% 100% at 50% 2%);
        padding-bottom: 250px;
    }
}

@keyframes contract {
    from {min-height: 250px;}
    to {min-height: 0px;}
}

.poster-clicked {
    animation: contract 0.5s forwards;
}

.poster {
    min-height: 250px;
}