<div class="float-left container m-3 drop-shadow p-0 thumb pointer" (click)="click()">
    <div class="info-box" [ngClass]="{'info-box-clicked': clicked}">
        <div class="p-2">
            <div class="text-center">
                <h4>CLUSTERING</h4>
            </div>
            <div class="p-1 text-justify mb-3">
                I decided that my home server setup for my portfolio was not enough and I could do better.
            </div>
        </div>
    </div>
    <div class="poster" [ngClass]="{'poster-clicked': clicked}">
    </div>
</div>