<div id="back-part"></div>
<div class="container">
    <div class="content-wrapper">
        <div class="menu">
            <a href="/"><img src="assets/img/logo.png" class="logo"></a>
            <!--<i class="fa fa-envelope"></i>-->
            <a href="https://www.linkedin.com/in/marcus-m%C3%BCnger-034398123/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://stackoverflow.com/users/3566441/munhunger"><i class="fa fa-stack-overflow"></i></a>
            <a href="{{post.github}}"><i class="fa fa-github"></i></a>
            <!--<i class="fa fa-user"></i>-->
        </div>
        <div class="header">
            <code-block [inline]="false" src="{{post.headerCode}}"></code-block>
            <div class="overlay-title">
                <span>{{post.title}}</span>
            </div>
        </div>
        <div class="content">
            <span *ngFor="let part of post.parts">
                <p *ngIf="!part.isCode">
                    <br />
                    {{part.text}}
                </p>
                <code-block *ngIf="part.isCode" src="{{part.text}}"></code-block>
            </span>
        </div>
    </div>
</div>
