<div id="back-part"></div>
<div class="container">
    <div class="content-wrapper">
        <div class="menu">
            <img src="assets/img/logo.png" class="logo">
            <i class="fa fa-envelope"></i>
            <i class="fa fa-linkedin-square"></i>
            <a href="{{github}}"><i class="fa fa-github"></i></a>
            <i class="fa fa-user"></i>
        </div>
        <div class="header">
            <code-block [inline]="false" src="https://raw.githubusercontent.com/munHunger/idp/master/src/main/java/se/munhunger/idp/Startup.java"></code-block>
            <div class="overlay-title">
                <span>{{title}}</span>
            </div>
        </div>
        <div class="content">
            <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut lorem eget ante egestas dignissim ut sed enim. Maecenas tempus hendrerit tellus, nec finibus turpis consectetur a. Integer in nisi metus. Aliquam est nunc, imperdiet
                ac malesuada non, laoreet ut quam. Fusce at ultrices sapien. Maecenas semper nulla in tortor tincidunt, a imperdiet justo porttitor. Proin et dolor suscipit mi consequat blandit. Etiam consequat placerat volutpat. Morbi convallis risus
                vitae metus ultricies vulputate.<br><br></p>
            <code-block src="https://raw.githubusercontent.com/munHunger/cosmos/develop/folderScraper/src/test/java/se/mulander/cosmos/folderscraper/test/ScraperTest.java"></code-block>
            <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut lorem eget ante egestas dignissim ut sed enim. Maecenas tempus hendrerit tellus, nec finibus turpis consectetur a. Integer in nisi metus. Aliquam est nunc, imperdiet
                ac malesuada non, laoreet ut quam. Fusce at ultrices sapien. Maecenas semper nulla in tortor tincidunt, a imperdiet justo porttitor. Proin et dolor suscipit mi consequat blandit. Etiam consequat placerat volutpat. Morbi convallis risus
                vitae metus ultricies vulputate.<br><br></p>
        </div>
    </div>
</div>
