<div id="back-part"></div>
<div class="container">
    <div *ngIf="post" class="content-wrapper">
        <div class="menu">
            <a href="/"><img src="assets/img/logo.png" class="logo"></a>
            <i class="fa fa-bell" (click)="toggleSubDialog()"></i>
            <a href="https://www.linkedin.com/in/marcus-m%C3%BCnger-034398123/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://stackoverflow.com/users/3566441/munhunger"><i class="fa fa-stack-overflow"></i></a>
            <a href="{{post.github}}"><i class="fa fa-github"></i></a>
            <!--<i class="fa fa-user"></i>-->
        </div>
        <div class="header">
            <code-block [inline]="false" src="{{post.headerCode}}"></code-block>
            <div class="overlay-title">
                <span>{{post.title}}</span>
            </div>
        </div>
        <div class="content">
            <span *ngFor="let part of content; let index=index; let odd=odd; let even=even;">
                <markdown *ngIf="even" [data]="part">
                </markdown>
                <code-block *ngIf="odd" src="{{part}}"></code-block>
            </span>
        </div>
    </div>
</div>

<div class="overlay" (click)="toggleSubDialog()" *ngIf="showSub"></div>
<div class="subscribe-dialog" *ngIf="showSub">
    <h3>Subscribe</h3><br />
    Enter email address to get an email notfication when a new post has been added<br /><br />
    <input type="email" name="email" placeholder="mail@mail.mail" [(ngModel)]="email"><br /><br />
    <button (click)="subscribe()">submit</button><br />
</div>